a{
    text-decoration: none;
    color: inherit;
}

body {

    height: 100%;
    padding-bottom: 30px;  
    padding-top: 15px;           
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {

    overflow: hidden;
    display: flex;
    padding-left: 10px;
    padding-right: 10px; 
    
    
    
}

.title {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 10px;
    max-width: 550px;
    margin: auto;
    margin-left: 80px;
    text-align: center;
    background-color:beige;
    color: black;
    
}

.blog-text {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 2;
    margin: 10px;
    margin-top: 0px;
    
    text-align: justify;
    text-justify: distribute;
    max-width: 95%;
    padding-bottom: 10px;
    
}
.blog-content {

    min-width: inherit;
    max-width: inherit;
    min-height: 700px;
    
    

}
.blog-main {

    margin: auto !important;
    display: block;
    min-width: 650px;
    min-height: 750px;
    background-color: pink;

}





.blog-text {

    margin-left: 80px;
    margin-right: 30px;
    margin-top: 10px;
    
}
.blog-post {

    margin: 0;
    
    
    overflow: scroll;
    overflow-x: hidden;
    opacity: 100%;

    color: rgb(48, 48, 48);
    display: block;
    flex-direction: column;
    width: 700px;
    max-width: 700px;
    min-width: 700px;
    min-height: 500px;
    max-height: 525px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    background-image: url(./src/note.png);
    background-repeat: no-repeat;
    transition: ease-in 0.5s;
    

}


.blog-post:hover {

    opacity: 100%;

}

.blog_container {

    min-height: 0;
    max-height: 750px;
    overflow: hidden;
    display: flex;
    padding-left: 10px;
    padding-right: 10px; 
    
    
}

.flex-child {
    
    
    flex-direction: column;
    
    

}  

.flex-child:first-child {
    margin-right: 10px;
    

    
} 

div#nav-cont {

    display: table-cell;
    vertical-align: middle;
    min-height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lawngreen;

}

#frame1.flex-child {

    max-width: 150px;
   display: flex;
   align-items: center;
    margin-left: 50px;
    padding-top: 250px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}

#frame1_blog.flex-child {

    width: 230px;
    height: 700px;
    background-image: url(./src/nav_bg.png);
    margin-left: 75px;
    margin-top: 20px;
    
   
    
    
}

.posts {

    margin-top: 5px;
    padding-right: 10px;
    height: 660px;
    overflow: scroll;
    overflow-x: hidden;
}

#frame2.flex-child {

    height: 750px !important;
    width:100%;
}

#frame2_blog.flex-child {

    
    min-height: 0;
    width: 70%;
    margin-right: 50px;
    margin-left: 0px;
    display: block;

}




iframe {
    
    width:100%;
    height:100% !important; 
    display:block;
    flex-direction: column;
    margin-bottom: 10px;
}

.line {
    height: 1px;
    background-color: #6b6b6b;
    width: 520px;
    margin: 0 auto;
    background-image: linear-gradient(left , white 2%, #272727 50%, white 98%);
    margin-left: 105px;

}

.main {

    overflow: hidden;
    overflow-x: hidden;
    background-image: url(./src/note3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 85%;
    min-height: 80%;
    width: 900px;
    margin-left: 70px;
    margin-top: 30px;
    height: 630px;


}


.main-content {
    
    
    min-width: 550px;
    width: 795px;
    min-height: 600px;
    height: 550px;
    margin-top: 60px;
    margin-left: 60px;
    overflow: hidden;

    
}

.main-flex {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 424px;
    margin-right:10px;
}

.text-row {

    min-width: 650px;
    height: 75px;
    margin-bottom: 20px;

}

.text-column {

    min-width: 100px;
    width: 250px;
    max-height:524px;
    text-align: justify;
    overflow-wrap: break-word;
    line-height: 1.5;
    
    

}

.column-head {

    font-size: 30px;
    text-align: center;
    
}

.qa {

    
    overflow: scroll;
    
    background-image: url(./src/note2.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 75%;
    min-height: 80%;
    width: 900px;
    margin: auto;
    margin-top: 30px;
    margin-left: 25px;

}

.id-content {
    
    
    padding-bottom: 60px;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 50px;
    min-width: 550px;
    height: 300px;

}

.listing {

    background-color: rgb(81, 206, 56);
    text-align: center;
    padding: 5px;
    display: block;
    transition: ease-in 0.3s;
    border-radius: 7px;
    max-width: 125px;
    

}

.listing:hover {

    
    background-color: greenyellow;

}

.dummy {
    width: 134px;
    height: 10px;
    background-color: transparent;
}


.dropdown {

    border-radius: 7px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index:1;
    width: 134px;
    position:relative;
    display: inline-block;
    transition: ease-in 0.3s;
    background-color: rgb(81, 206, 56);
    

}



.dropdown:hover {

    
    background-color: greenyellow;

}

.dropdown input:after {

    content:"";
    width:100%;
    height:2px;
    position:absolute;
    display:block;
    
    bottom:0;
    left:0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition-duration: 0.2s;

}

.dropdown input:hover {
    cursor:pointer;
  }



.dropdown input {
    top:0;
    opacity:0;
    display:block;
    padding:0;
    margin:0;
    border:0;
    position:absolute;
    height:100%;
    width:100%;
  }

 span {

    text-align: center;
    height: 28px;
    width: 134px;
    
 }
 
 a span {

    height: 28px;
    width: 134px;
 }
  .dropdown-list {
    display:block;
    position: absolute;
    background-color: transparent;
    height:auto;
    width: inherit;

    margin-top: 20px;
    transform: scaleY(0);
    transform-origin: top left;
    transition-duration: 0.2s;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: top left;
    -webkit-transition-duration: 0.2s;
    
    
  }


  .dropdown-list ul {
    margin:0;
    padding:0;
    list-style-type: none;
    background-color: rgb(81, 206, 56);
    border-radius: 7px;


  }



  .dropdown-list li {
    padding: 5px;
    word-break: keep-all;
    white-space:wrap;
    display:block;
    position:relative;
    transition: ease-in 0.3s;
    border-radius: 7px;
    
  }

  .dropdown-list li:hover {

        background-color: greenyellow;
  }

  .dropdown input:checked:after {
    transform: scaleX(1);
    
  }
  .dropdown input:checked ~ .dropdown-list {
    transform: scaleY(1);
    
  }


.dropdown-main {

     
        
        
        position:relative;
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
      }





.tweet-main {
    font-family: Helvetica;
    border: 1px solid lightgrey;
    border-radius: 25px;
    background-color: white;
    width: 500px;
    max-height: 300px;
    margin: 40px;
    margin-left: 70px;
    
    margin: auto;
    
    
}

.tweet-avi {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
    flex-direction: column;
    width: 50px;
    height: 50px;
    float: left;
    background-image: url(./src/avi.jpg);
}

.tweet-dn {
    display: flex;
    float: center;
    padding-top: 25px;
    padding-left: 10px;
    font-size: 13px;
    font-weight: bold;
}

.tweet-id {
    color: gray;
    display: flex;
    float: center;
    padding-top: 2px;
    padding-left: 10px;
    font-size: 13px;
    
}

.tweet-content {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 20px;


}

.tweet-date {
    color: grey;
    margin-left:25px;
    font-size: 15px;
    margin-bottom: 25px;
    padding-bottom: 30px;
}

#footer {

    
    float: bottom;
    max-height: 200px;
    color: rgb(81, 206, 56);
    text-align: center;
    font-size: 11px;
    margin-bottom: 20px !important;
    min-height: 0;

}